---
import CoolCards from '@/components/CoolCards.astro';
---

<section class='container'>
  <CoolCards />
</section>

<style>
  .container {
    min-height: 100vh;
    background-color: #111;
  }
</style>
